In [1]:
import pandas as pd
import math
df = pd.read_csv('mynodes.csv',index_col=0)

In [2]:
df

            node  ks  kdeg     pr      m   ksum     k2sum
0       17116707  99   194   67.0  36433  26066  27460515
1       28465635  99   576  165.0  36433  29147  32108682
2      380580781  99   260   85.0  36433  31938  27080578
3       18996905  99   668  420.0  36433  10383  10227345
4      221036078  84    98   20.0  36433  22476  19596087
5      153460275  55    61   41.0  36433   8712   7201415
6      107830991  99   234   68.0  36433  40150  29976817
7       17868918  99   625  407.0  36433  14555  10760520
8      151338729  99   393  135.0  36433  39985  28277547
9      222261763  99   322   57.0  36433  48355  35649438
10      19705747  81   160   79.0  36433   8367   6917835
11      34428380  99  1381  751.0  36433  13399  10744244
12      88323281  99   838  174.0  36433  55015  42237223
13      19933035  67    71   13.0  36433  20711  22048125
14     149538028  99   420  101.0  36433  46420  31945898
15     158419434  99   458  107.0  36433  44455  38580059
16      17434613  68   101   42.0  36433  10375   9663896
17     153226312  99   470   92.0  36433  66757  41370883
18     364971269  59    70   14.0  36433  17375  24569255
19     100581193  99   297   36.0  36433  53137  37814639
20     279787626  99   373   32.0  36433  67337  42796984
21     113058991  99   337   46.0  36433  41579  36064004
22      69592091  99   394  136.0  36433  35219  27341106
23     187773078  99   445  137.0  36433  34364  34072611
24     406628822  99   229   35.0  36433  39747  27946284
25     262802533  79    82   19.0  36433  22573  21913337
26     460282402  59    76   19.0  36433  14883  20549685
27     280935165  99   444  102.0  36433  45808  30620144
28     437804658  62    62   14.0  36433  17167  16451467
29      27633075  99   632  317.0  36433  13846  12525751
...          ...  ..   ...    ...    ...    ...       ...
40621  109716962   5     5   11.0  36433     35    372925
40622   14254518   8    13   23.0  36433     63    414875
40623   14230389   4     6   27.0  36433     15    243728
40624   17560697   2     2   14.0  36433      9    162485
40625   16910315   4     6   29.0  36433     19    203100
40626    5820642   1     1    5.0  36434     37     36996
40627   14615785   4     4   15.0      1      0         0
40628  105030602   4     4   13.0  36433     21    243728
40629   45425277   2     2   10.0      1      0         0
40630   16116713  42    46   28.0  36433   5454  13524312
40631   17961886  22    23   29.0  36433    158   1033378
40632   22506222  28    29   14.0  36433   4155  10210378
40633   15170346  44    58   33.0  36433   8438  14542721
40634   21783950  44    60   26.0  36433   7673  17267835
40635  130954892  32    42    6.0  36433   8310  16358132
40636   16878156  43    49   33.0  36433   7316  13348061
40637  114885308   3     3    6.0  36433     13    161546
40638  117148684   4     4    6.0  36433    338   1958700
40639   21014087  23    27   12.0  36433   3459  11137014
40640   84869572   5     5    5.0  36433    409   1680760
40641   65734517   9    13   15.0  36433   1181   3833757
40642   52731258   3     3    6.0  36433    960   2276433
40643   16950937   7     9    6.0  36433    522   5303084
40644   17627361  18    24    8.0  36433   3423  10872084
40645   12296312   7     7    8.0  36433   1685   5818942
40646   19840539  13    13    6.0  36433   3166  10851823
40647   62832547   2     2    5.0  36433     13    161546
40648   35108007   6     6    6.0  36433   1525   5515958
40649   17221548   5     5    5.0  36433    339   3201888
40650   56799076   1     1    6.0      1      0         0

[40651 rows x 7 columns]

In [3]:
def common(m,n):
    mset = set(m)
    nset = set(n)
    return (mset & nset)

In [4]:
def unique(list1): 
    list_set = set(list1) 
    unique_list = (list(list_set)) 
    return unique_list

In [5]:
def getIndex(listOfElements, element):
    indexPosList = []
    indexPos = 0
    while True:
        try:
            indexPos = listOfElements.index(element, indexPos)
            indexPosList.append(indexPos)
            indexPos += 1
        except ValueError as e:
            break
    return indexPosList

In [15]:
val = []
for i in range(len(df['ksum'])):
    if df['ksum'][i] == 0:
        val.append(0)
        continue
    val.append(round(math.log(df['ksum'][i],1.00001)))

In [18]:
df['ksum'] = val

In [ ]:
math.log(val[3],10)

In [19]:
ks = df['ksum']
ks = unique(ks)
kdeg = df['pr']
kdeg = unique(kdeg)

In [20]:
l1 = list(df['ksum'])
l2 = list(df['pr'])

In [25]:
tdf = pd.DataFrame(columns = ['X','Y','value'])
for i in ks:
    if i > 465400:
        continue
    for j in kdeg:
        if j > 35:
            continue
        list1 = getIndex(l1,i)
        list2 = getIndex(l2,j)
        cmn = common(list1,list2)
        n = len(cmn)
        sum1 = 0
        if n > 15:
            for node in cmn:
                sum1 += df['m'][node]
            sum1 = sum1/n
            sum1 = math.log(sum1)
        if sum1 < 9.5:
            sum1 = 9.5
        new_row = {'X':i,'Y':round(j),'value':sum1}
        tdf = tdf.append(new_row,ignore_index=True)

In [ ]:
unique(tdf['value'])

In [26]:
tdf.to_csv('myfile1.csv')

In [17]:
len(unique(val))

108